<% include ./templates/header %>
    <div class="container">
        <form>
            <div class="form-group">
                <label for="idSemillero">Semillero: </label>
                <select id="idSemillero" name="idSemillero" class="form-control"> </select>
            </div>
            <div class="form-group">
                <label for="fechaPublicacion">Fecha Publicación: </label>
                <input type="date" id="fechaPublicacion" name="fechaPublicacion" class="form-control" placeholder="Fecha Publicación" value="new Date()">
            </div>
            <div class="form-group">
                <label for="tituloPublicacion">Titulo Publicación: </label>
                <input type="text" id="tituloPublicacion" name="tituloPublicacion" class="form-control" placeholder="Titulo Publicación">
            </div>
            <div class="form-group">
                <label for="imagenPublicacion">Imagen Publicación: </label>
                <input type="text" id="imagenPublicacion" name="imagenPublicacion" class="form-control" placeholder="Imagen Publicación">
            </div>
            <div class="form-group">
                <label for="textoPublicacion">Texto Publicación: </label>
                <textarea type="text" id="textoPublicacion" name="textoPublicacion" class="form-control" placeholder="Texto Publicación"></textarea>
            </div>
            <button id="crearPublicacion" type="button" class="btn btn-primary">Crear Publicacion</button>
            <button type="button" class="btn btn-danger">
                <a href="../" style="text-decoration: none; color: white">Cancelar </a>
            </button>
        </form>
    </div>

    <% include ./templates/footer %>
        <% include ./templates/scripts %>

            <script>
                $(document).ready(function () {
                    var rightNow = new Date();
                    var res = rightNow.toISOString().slice(0, 10).replace(/-/g, "-");
                    $("#fechaPublicacion").val(res);
                    $.ajax('semilleros/listaSemilleros', {
                        type: "GET",
                        success: function (response) {
                            let semilleros = response.data;
                            var semillerosHTML = $.map(semilleros, function (semillero, indice) {
                                return $("<option value=" + semillero.idSemillero + ">" +
                                    semillero.nombreSemillero + "</option>")
                            });
                            $("#idSemillero").append(semillerosHTML);
                        }
                    });


                    $("#crearPublicacion").on("click", function () {
                        alert("Se creó la publicación exitosamente!");
                        $.ajax('publicaciones/crearPublicacion', {
                            type: "POST",
                            data: $('form').serialize(),
                            success: function (response) {
                                console.log(response);
                            }
                        });
                    });
                });
            </script>