<% include ./templates/header %>
    <div class="container">
        <table id="example" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Lider</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>


            </tbody>
            <tfoot>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Lider</th>
                    <th>Acciones</th>
                </tr>
            </tfoot>
        </table>

        <!-- Modal 
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modificar Semillero</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="idSemillero">Id Semillero: </label>
                                <input type="text" id="idSemillero" name="idSemillero" class="form-control" placeholder="Id del Semillero" readonly>
                            </div>
                            <div class="form-group">
                                <label for="nombreSemillero">Nombre: </label>
                                <input type="text" id="nombreSemillero" name="nombreSemillero" class="form-control" placeholder="Nombre del Semillero">
                            </div>
                            <div class="form-group">
                                <label for="descripcionSemillero">Descripción: </label>
                                <input type="text" id="descripcionSemillero" name="descripcionSemillero" class="form-control" placeholder="Descripción del Semillero">
                            </div>
                            <div class="form-group">
                                <label for="liderSemillero">Lider: </label>
                                <input type="text" id="liderSemillero" name="liderSemillero" class="form-control" placeholder="Lider del Semillero">
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button id="modificarBTN" type="button" class="btn btn-primary">Modificar</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>-->
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                        <h4 class="modal-title custom_align" id="exampleModal">Modificar Semillero</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="idSemillero">Id Semillero: </label>
                                <input type="text" id="idSemillero" name="idSemillero" class="form-control" placeholder="Id del Semillero" readonly>
                            </div>
                            <div class="form-group">
                                <label for="nombreSemillero">Nombre: </label>
                                <input type="text" id="nombreSemillero" name="nombreSemillero" class="form-control" placeholder="Nombre del Semillero">
                            </div>
                            <div class="form-group">
                                <label for="descripcionSemillero">Descripción: </label>
                                <input type="text" id="descripcionSemillero" name="descripcionSemillero" class="form-control" placeholder="Descripción del Semillero">
                            </div>
                            <div class="form-group">
                                <label for="liderSemillero">Lider: </label>
                                <input type="text" id="liderSemillero" name="liderSemillero" class="form-control" placeholder="Lider del Semillero">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer ">
                        <button id="modificarBTN" type="button" class="btn btn-primary">Modificar</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>
    <% include ./templates/footer %>
        <% include ./templates/scripts %>
            <script>
                $(document).ready(function () {
                    var filaSeleccion = null;
                    var tabla = $('#example').DataTable({
                        "ajax": "/semilleros/listaSemilleros",
                        "columns": [{
                                "data": "idSemillero"
                            },
                            {
                                "data": "nombreSemillero"
                            },
                            {
                                "data": "descripcionSemillero"
                            },
                            {
                                "data": "liderSemillero"
                            },
                            {
                                "data": null,
                                "className": "center",
                                //"defaultContent": '<a href="" id="editar">Editar</a> / <a href="" id="eliminar">Eliminar</a>'
                                "defaultContent": '<div class="modal-container"><button id="editar" class="btn btn-primary btn-xs" data-title="Editar" ><span class="glyphicon glyphicon-pencil"></span> </button> <button id="eliminar" class="btn btn-danger btn-xs" data-title="Eliminar"  ><span class="glyphicon glyphicon-trash"></span></button></div>'
                            }
                        ]
                    });

                    $("#example tbody").on('click', '#eliminar', function (e) {
                        e.preventDefault();
                        let fila = $(this).closest("tr");
                        let informacion = tabla.row(fila).data();
                        
                        $.ajax(
                            'semilleros/eliminarSemillero/' + informacion.idSemillero, {
                                type: "GET",
                                success: function () {
                                    fila.remove();
                                    //tabla.row(fila).remove();
                                },
                                error: function(){
                                    alert("No se puede eliminar foraneas")
                                }
                            }
                        );
                    });

                    $("#example tbody").on('click', '#editar', function (e) {
                        e.preventDefault();
                        let fila = $(this).closest("tr");
                        filaSeleccion = $(this).closest("tr");
                        let informacion = tabla.row(fila).data();
                        $("#idSemillero").val(informacion.idSemillero);
                        $("#nombreSemillero").val(informacion.nombreSemillero);
                        $("#descripcionSemillero").val(informacion.descripcionSemillero);
                        $("#liderSemillero").val(informacion.liderSemillero);
                        $("#exampleModal").modal("show");
                    });

                    $("#modificarBTN").on("click", function () {
                        $.ajax(
                            'semilleros/modificarSemillero', {
                                type: "POST",
                                data: $("form").serialize(),
                                success: function (respuesta) {
                                    console.log(respuesta);
                                    filaSeleccion.data(respuesta).draw(false);
                                    $("#exampleModal").modal("hide");
                                }
                            }
                        );
                    })
                });
            </script>