<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Semilleros UPC</title>
    
    <!-- Barra de navegacion -->
    <nav id="header" class="navbar navbar-fixed-top">
      <div id="header-container" class="container navbar-container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                  aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a id="brand" class="navbar-brand" href="../">Semilleros UPC</a>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                  <li>
                      <a href="../">Inicio</a>
                  </li>
                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Semilleros
                          <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu">
                          <li>
                              <a href="crearSemillero">Crear Semillero</a>
                          </li>
                          <li>
                              <a href="listaSemilleros">Listar Semillero</a>
                          </li>
                          <li role="separator" class="divider"></li>
                          <li>
                              <a target="_blank" href="http://www.unipiloto.edu.co/descargas/Semilleros-de-Investigacion-2018.pdf">Más Información</a>
                          </li>
                      </ul>
                  </li>
                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Publicaciones
                          <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu">
                          <li>
                              <a href="crearPublicacion">Crear Publicación</a>
                          </li>
                          <li>
                              <a href="listaPublicaciones">Listar Publicaciones</a>
                          </li>
                          <li role="separator" class="divider"></li>
                          <li>
                              <a target="_blank" href="http://www.unipiloto.edu.co/escuela-tic-2/publicaciones-tic/">Más Información</a>
                          </li>
                      </ul>
                  </li>
              </ul>
          </div>
          <!-- /.nav-collapse -->
      </div>
      <!-- /.container -->
  </nav>
  <!-- /.navbar -->

</head>
  <body>